#rtitle {
	width: 684px;
	float: right;
}

#lside {
	width: 234px;
	height: 750px;
	border-radius: 0;
	border: none;
	margin-top: 10px;
	margin-right: 10px; 
	background:url(./img/bacf.png);
	float: left;
}

div img {
	float: right;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

#Maximilian {
	width: 664px;
	height: 730px;
	float: right;
}

#Ludovika{
	width: 664px;
	height: 600px;
	float: right;
}

#Ludwig{
	width: 664px;
	height: 520px;
	float: right;
}

#Helene{
	width: 664px;
	height: 500px;
	float: right;
}

#Karl{
	width: 664px;
	height: 500px;
	float: right;
}

#Maria{
	width: 664px;
	height: 640px;
	float: right;
}

#Mathilde {
	width: 664px;
	height: 570px;
	float: right;
}

#Sophie{
	width: 664px;
	height: 550px;
	float: right;
}

#Emanuel {
	width: 664px;
	height: 520px;
	float: right;
}

#Franz{
	width: 664px;
	height: 1200px;
	float: right;
}

#Sophieaustria{
	width: 664px;
	height: 350px;
	float: right;
}

#Gisela{
	width: 664px;
	height: 460px;
	float: right;
}

#Rudolf{
	width: 664px;
	height: 520px;
	float: right;
}

#Valerie{
	width: 664px;
	height: 500px;
	float: right;
}

.nohover{
	font-weight: bold;
}

.nohover:hover{
	color: rgb(83,34,25);
	background-image: none;
}