#rtitle {
	width: 976px;
	float: left;
}

#rside {
	width: 956px;
	height: 2800px;
	float: left;
}

#rside a{
	color: rgb(83,34,25);
}

#rside a:hover{
	color: rgb(83,34,25);
}

#rside img {
	margin-right: 15px;
}
