#navi div{
	-webkit-transition: 0.4s ease-in-out;
}

/*导航栏图标*/
#aprofile{
	width: 150px;
	height: 60px;
	float: left;
	background-image: url(./img/PROFILE.png);
}
#alifetime{
	width: 165px;
	height: 60px;
	float: left;
	background-image: url(./img/LIFETIME.png);
}
#afamilies{
	width: 165px;
	height: 60px;
	float: left;
	background-image: url(./img/FAMILIES.png);
}
#apictures{
	width: 165px;
	height: 60px;
	float: left;
	background-image: url(./img/PICTURES.png);
}
#ainfluence{
	width: 180px;
	height: 60px;
	float: left;
	background-image: url(./img/INFLUENCE.png);
}
#aothers{
	width: 150px;
	height: 60px;
	float: left;
	background-image: url(./img/OTHERS.png);
}

/*导航栏鼠标滑动效果*/
#aprofile:hover{
	background-image: url(./img/PROFILE1.png);
}
#alifetime:hover{
	background-image: url(./img/LIFETIME1.png);
}
#afamilies:hover{
	background-image: url(./img/FAMILIES1.png);
}
#apictures:hover{
	background-image: url(./img/PICTURES1.png);
}
#ainfluence:hover{
	background-image: url(./img/INFLUENCE1.png);
}
#aothers:hover{
	background-image: url(./img/OTHERS1.png);
}

/*下拉菜单*/
.dropdown-content {
	display: none;
    width: 165px;
    z-index:-2;
    position: relative;
}

.dropdown-content a {
    color: rgb(62,28,17);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-image: url(./img/nav1.png);
    z-index:-1;
    position: relative;
}

.dropdown-content a:hover {
	color: rgb(255,255,255);
	background-image: url(./img/nav2.png);
	-webkit-transition: 0.3s ease-in-out;
}

#afamilies:hover .dropdown-content {
	display: block;
}

#apictures:hover .dropdown-content {
	display: block;
}