#rtitle {
	width: 814px;
	float: right;
}

#lside {
	width: 104px;
	height: 80px;
	border-radius: 0;
	border: none;
	margin-top: 60px;
	margin-right: 10px; 
	background:url(./img/bacf.png);
	float: left;
}

#Photos {
	width: 794px;
	height: 950px;
	float: right;
}

#Photos2 {
	width: 794px;
	height: 700px;
	float: right;
}

.table{
	width: 790px;
	height: 800px;
	margin: 10px 0 0 20px;
	border-collapse:collapse;
}